.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.container li {
    padding: 8px 0 0;
}

.container li span {
    margin-left: 8px;
}

.container li:hover {
    text-decoration: underline;
}

.main {
    flex: 2;
    padding: 30px;
}

.main form {
    display: flex;
    flex-direction: column;
    width: 33%;
    min-width: 300px;
    margin: 0 auto;
}

.main input {
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
    outline: none;
    background-color: #f0f0f0;
    border: 0;
    border-bottom: 1px #6f6f6f solid;
}

.main input:focus {
    border-bottom: 2px #6f6f6f solid;
    margin: 16px 0 15px;
}

.main ul {
    height: 200px;
    overflow: auto;
}

.aside {
    flex: 1;
    padding: 30px;
    width: 30%;
}

.main button {
    border-radius: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #282c34;
    outline: none;
}

.main button:focus {
    border: solid #6f6f6f;
    border-radius: 8px;
    margin-bottom: 8px;
}

.main button:hover {
    box-shadow: 0 0 4px 0 #282c34;
}

.main button:active {
    box-shadow: inset 0 0 4px 0 #282c34;
}

.save {
    background-color: dodgerblue;

}

.cancel {
    background-color: #f0f0f0;
    color: #282c34;
}

.danger {
    background-color: crimson;
}