.item {
    text-align: left;
    color: #282c34;
    white-space: nowrap;
    cursor: pointer;
}
.item h3:hover{
    text-shadow: 2px 1px #61616144;
    text-decoration: underline;
}

.item h3 {
    display: inline-block;
    margin-left: 8px;
}
.expanded{
    text-decoration: underline;
}