.item {
    text-align: left;
    color: #282c34;
    white-space: nowrap;
}

.item .chevron {
    transform: rotateZ(0deg);
    transition: transform 0.5s;

}

h4 .chevron .expanded {
    transform: rotateZ(90deg);

}

.item h4 {
    display: inline-block;
    margin-left: 8px;
}