.App {
    height: 100vh;
    overflow: hidden;
    /*flex-direction: column;*/
    display: flex;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 1rem;
    box-shadow: 0 0 10px #282c34;
}

.App-header span {
    text-decoration: underline;
    cursor: pointer;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

aside {
    flex: 0 0 20%;
    min-width: 280px;
    max-width: 360px;
    padding: 5rem 0 3rem;
    overflow-y: auto;
    border-top: solid #282c34 2px;
    position: relative;
    transition: max-width 0.5s, min-width 0.5s;
}

.band {
    width: 100%;
    background-color: darkorange;
    height: 60px;
    position: absolute;
    top: 0;
}

.hide {
    max-width: 0;
    min-width: 0;
}

.toggler {
    position: absolute;
    height: 60px;
    background-color: darkorange;
    width: 60px;
    top: 2px;
    color: #f0f0f0;
    z-index: 100;
    transition: min-width 0.5s 0.1s, width 0.5s 0.1s;
}


section {
    flex: 3;
    height: 100%;
    border: solid #282c34 2px;
    box-shadow: inset 0 0 10px #282c34;
    overflow: auto;
    background-color: #f0f0f0;
}

.edit{
    flex: 10
}